* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy';
  background-color: #f9f9f9;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2.5rem;
}

nav>img {
  position: relative;
  top: 40px;
  left: 40px;
  height: 51px;
  width: 180px;
}

nav ul {
  display: flex;
  gap: 50px;
  padding-left: 400px;
  list-style: none;
  padding-top: 60px;
}

.nav-btn {
  padding-top: 45px;
  padding-right: 40px;
}

.nav-btn>button>a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
}

.nav-btn>button {
  border: none;
  border-radius: 5.95px;
  height: 50px;
  width: 160px;
  background-color: #75BF7A;
}

nav>ul>li>a {
  font-weight: 500;
  font-style: medium;
  text-decoration: none;
  color: #000000;
  font-size: 17.16px;

  @font-face {
    font-family: 'Gilroy';
    src: url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
      url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.ttf') format('truetype');
    font-style: normal;
  }
}

.intro {
  display: flex;
  background-color: #f9f9f9;
  padding-top: 5rem;
}

.intro-text {
  padding-left: 80px;
  padding-right: 90px;
  padding-top: 5rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.intro>img {
  position: relative;
  right: 9rem;
  bottom: 5rem;
  width: 553px;
  height: 570px;
  border: 4.05px;
  padding-top: 3rem;
}

.column>h1 {
  @font-face {
    font-family: 'Gilroy';
    src: url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
      url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Extrabold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }

  font-size: 60.73px;
  line-height: 60px;
}

.column>p {
  margin-right: 15rem;
  font-weight: 500;
  font-style: Medium;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #9E9DA2;
  padding-top: 1rem;
}

.intro-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-right: 20rem;
  padding-top: 2rem;

}

.intro-btn>button {
  border: none;
  border-radius: 5px;
  width: 15rem;
  background-color: #000000;
  padding: 15px;

}

.intro-btn>button>a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  position: relative;
  bottom: 5px;
}

.info {
  position: relative;
  left: 5rem;
  bottom: 2rem;
  background-color: #75BF7A;
  padding: 50px;
  width: 1200px;
  height: 150px;
  border-radius: 10px;
}

.info-text {
  display: flex;
  justify-content: space-between;
}

.info-p {
  color: white;
  font-size: 24.6px;
  font-weight: 500;
  line-height: 28px;
}

.info-btn>input {
  font-size: 20px;
  padding: 25px;
  width: 499;
  position: relative;
  right: 2rem;
  border: none;
  border-radius: 4.39px;
}

.info-btn>input::placeholder {
  color: #DADADA;
}

.info-btn>button {
  border-radius: 4.39px;
  padding: 30px 30px 30px 30px;
  background-color: #000000;
  border: none;
}

.info-btn>button>a {
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  line-height: 0px;
  letter-spacing: 0%;
  color: white;
}

.works {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
}

.works h2 {
  font-size: 46.39px;
  font-weight: bold;
}

.works h2 span {
  color: #75BF7A;
}

.subheading {
  font-size: 27px;
  color: #888;
  margin-top: 10px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.steps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  flex-wrap: wrap;
  font-family: 'Gilroy';
}

.steps-left {
  padding-top: 2rem;
}

.step>h3,
.step2>h3 {
  font-size: 22px;
}

.step>p {
  font-size: 20px;
  line-height: 26px;
  color: #9E9DA2;
}

.step2>p {
  font-size: 20px;
  line-height: 26px;
  color: #9E9DA2;
}

.le {
  position: relative;
  top: 50px;
  right: 25px;
  color: #75BF7A;
  font-size: 34.11px;
}

.ri {
  position: relative;
  top: 50px;
  left: 25px;
  color: #75BF7A;
  font-size: 34.11px;
}

.steps {
  flex: 1;
  max-width: 300px;
  padding: 20px;
}

.step {
  margin-bottom: 40px;
  text-align: right;
}

.step>img {
  flex: 1;

}

.step2 {
  margin-bottom: 40px;
  text-align: left;
}

.bg-image {
  flex: 1;
  width: 300px;
  padding: 20px;
}

.mobile-image {
  position: absolute;
  flex: 1;
  max-width: 300px;
  padding: 20px;
}

.mobile-image img {
  width: 100%;
}

.dots {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
}

.dot1 {
  background-color: #75BF7A;
}

.dot2 {
  background-color: #75BF7A;
  opacity: 50%;
}

.dot3 {
  background-color: #75BF7A;
  opacity: 50%;
}

.dot4 {
  background-color: #75BF7A;
  opacity: 50%;
}

.benifits>h1 {
  gap: 10px;
  font-weight: 800;
  font-size: 46.39px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.benifits>h1>span {
  color: #75BF7A;
}

.beni {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  width: 256.79;
  height: 254.82;
  margin: 2rem 15rem 0 8rem;
  background-color: white;
}

.beni-text>h2,
.beni-text>p {
  padding-left: 40px;
}

.beni-text>h2>span {
  color: #75BF7A;
  font-weight: 500;
  font-size: 88px;
}

.beni-text>h2 {
  gap: 20px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  font-weight: 600;
  font-size: 33.94px;
}

.beni-text>p {
  color: #9E9DA2;
  font-weight: 500;
  font-size: 22px;
}

.beni>img {
  height: 254.82px;
  padding: 20px 10rem 20px;
}

.beni-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  width: 256.79;
  height: 254.82;
  margin: 2rem 8rem 0 15rem;
  background-color: white;
}

.beni-2>.beni-text {
  padding-right: 10rem;
}

.beni-2>img {
  height: 254.82px;
  padding: 20px 0 20px 10rem;
}

.end {
  background-color: white;
  margin-top: 15rem;
}

.foot-text {
  padding: 5rem 5rem 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid;
  color: #ECECEC;
}

.contact {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.contact>h3 {
  color: #000000;
  font-weight: 500;
  font-size: 22px;
  line-height: 50%;
}

.contact>p {
  color: #8B8BA5;
  font-weight: 400;
  font-size: 18px;
  line-height: 50%;
}

.foot-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.foot-btn>button {
  border-radius: 3.43px;
  padding: 15px 20px 15px 20px;
  background-color: #000000;
  border: none;
  gap: 2rem;
}

.foot-btn>button>a {
  text-decoration: none;
  font-weight: 800;
  font-size: 16.89px;
  line-height: 0px;
  letter-spacing: 0%;
  color: white;
}

footer {
  padding-top: 2rem;
  padding-bottom: 10rem;
  background-color: white;
}

footer>p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #75BF7A;
}